@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');

:root {
  --primary-color: #faaa31;
  --secondary-color: #dd4433;
  --biscuit-color: #773300;
  --orange-color: #e17023;
  --pink-color: #fef5e8;
  --text-primary: 'Work Sans', sans-serif;
}

.bg-biscuit {
  background-color: var(--biscuit-color);
}
.font-primary {
  font-family: var(--text-primary);
}
.text-yellow {
  color: var(--primary-color);
}

.fw-3 {
  font-weight: 300;
}
.fw-5 {
  font-weight: 500;
}
.fw-6 {
  font-weight: 600;
}
.fw-7 {
  font-weight: 700;
}
.fw-9 {
  font-weight: 900;
}

.f-12 {
  font-size: 12px;
}
.f-14 {
  font-size: 14px;
}
.f-16 {
  font-size: 16px;
}
.f-18 {
  font-size: 18px;
}
.f-24 {
  font-size: 24px;
}

.color-bar {
  min-height: 50px;
  position: relative;
  z-index: 2;
}

.text-biscuit {
  color: var(--biscuit-color);
}

.the-header {
  background-color: #fff;
  min-height: 100px;
  z-index: 2;
  position: relative;
  height: 112px;
  max-height: 115px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  .nav-links {
    display: flex;
    column-gap: 25px;
    .cnav-link {
      font-family: var(--text-primary);
      text-decoration: none;
      transition: all 0.1s ease-in;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  span.notif-badge {
    position: absolute;
    background-color: var(--orange-color);
    width: 7px;
    height: 7px;
    border-radius: 50%;
    top: 12px;
    right: 10px;
  }
}

.hero-section {
  height: calc(100vh - 162px);
  // min-height: 650px;
  background: rgb(239, 185, 26);
  background: linear-gradient(
    180deg,
    rgba(239, 185, 26, 1) 23%,
    rgba(230, 160, 25, 1) 69%,
    rgba(239, 185, 26, 1) 100%
  );
  .hero-container {
    .col-md-6 {
      height: calc(100vh - 162px);
    }
  }
  .drop-shadow {
    width: calc(100% - 50px);
    filter: drop-shadow(19px 7px 4px #222222);
  }
  .hero-text-sec {
    position: absolute;
    bottom: 50px;
    h1 {
      font-size: 75px;
      text-transform: uppercase;
    }
    p.punch-line {
      color: #fff;
    }
    button.get-started {
    }
  }
}

.sec2 {
  background-color: var(--pink-color);
  min-height: 1100px;
  width: 100%;
  overflow: hidden;
  .text-block {
    width: 820px;
    h1 {
      font-size: 36px;
    }
  }
  .floating-images {
    img.cookies-img {
      right: 0;
      top: 450px;
      width: 335px;
    }
    img.chips-img {
      left: 0;
      top: 300px;
      width: 270px;
    }

    img.heart-cream-img {
      top: 200px;
      right: 350px;
      width: 200px;
    }

    img.crave-img {
      left: 350px;
      top: 670px;
      width: 200px;
    }

    img.pulsitos-img {
      top: 790px;
      right: 300px;
      width: 300px;
    }

    img.cookie-img {
      top: 40px;
      right: 200px;
      width: 170px;
    }
  }
}

.sec3 {
  background-color: var(--pink-color);
  background-image: url(/assets/images/curve-background.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center 500px;
  padding-bottom: 50px;
  min-height: 1100px;
  h3.sec3-title {
    text-align: center;
    color: var(--orange-color);
    font-size: 36px;
    padding-top: 100px;
    margin-bottom: 100px;
    text-shadow: 0px 4px 4px #00000040, 0px 4px 4px #00000040;
  }
  .exotic-cards {
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 10px;
    .exotic-card {
      img {
        width: 100%;
      }
      .card-body {
        text-align: center;
        h1.exotic-card-title {
          font-size: 36px;
          color: var(--biscuit-color);
        }
        p.exotic-card-desc {
          font-size: 20px;
          width: 300px;
          margin: 0 auto;
          color: #fff;
          font-family: var(--text-primary);
        }
      }
    }
  }
}
button.cBtn {
  background: var(--secondary-color);
  border: 0;
  padding: 15px 30px;
  font-size: 20px;
  font-family: var(--text-primary);
  text-transform: uppercase;
  border-radius: 10px;
  color: #fff;
  display: flex;
  align-items: center;
  column-gap: 10px;
  transition: all 0.1s ease-in;
  &:hover {
    background-color: #cf2715;
  }
}

.shop-your-box-btn {
  margin: 70px auto 100px auto;
}

.customer-reviews {
  background-image: url('../assets/images/curve-background2.png');
  background-repeat: no-repeat;
  background-size: 100%;
  // background-position: center 500px;
  padding-top: 200px;
  padding-bottom: 50px;
  min-height: 500px;
  margin-top: 200px;
}

.rating-star {
  background-image: url(../assets/images/rating_sticker.png);
  width: 200px;
  background-size: 260px;
  background-repeat: no-repeat;
  height: 200px;
  position: absolute;
  top: -20px;
  left: 40px;
  background-position: center;
}

.ratings {
  h2 {
    font-size: 70px;
    color: #fff;
    text-align: center;
    margin-top: 36px;
    margin-bottom: 0;
  }
  p {
    text-align: center;
    color: #fff;
    font-size: 16px;
  }
}

// .review-card {
//   width: 500px;
// }

.rCard-body {
  background: #fff;
  border-radius: 15px;
  padding: 100px;
  padding-left: 120px;
  padding-right: 50px;
  position: relative;
}

.rCard-img {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}
.rCard-img img {
  width: 170px !important;
  border-radius: 22px;
}
.stars {
  i.bi.bi-star-fill {
    font-size: 20px;
    color: #ffc700;
    margin-right: 2px;
  }
}

.owl-item.cloned.active {
  opacity: 0.8;
  transform: scale(0.8);
}

.owl-item.active.center {
  z-index: 9999;
}
